header.header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    background: none; // var(--bg-primary);
    box-shadow: 0px 2px 4px 2px rgba(from var(--bg-primary) r g b / 0.3);

    user-select: none;

    .header-content {
        display: flex;
        flex-direction: row;
        width: var(--content-width);
        height: 100%;

        justify-content: space-between;
        align-items: center;

        background: var(--bg-primary);
        box-shadow: 0px  0 30px 50px var(--bg-primary);

        .textmark {
            font-family: var(--font-title), sans-serif;
            font-size: 38px;
            font-weight: 400;
            margin-top: -2px; // optische Optimierung
        }

        nav.navigation {
            display: flex;
            flex-direction: row;
            gap: 20px
        }
    }
}

main.content-wrapper {
    display: flex;
    justify-content: center;
    flex: 1;
    border-radius: 6px 6px 0px 0px;

    background: radial-gradient(circle farthest-corner at 50% 50%, var(--fuchsia), var(--rot));

    .central-content {
        width: var(--content-width);
        margin: 30px 0px;
    }
}