@use '../app/globals.scss' as globals;

.button {
    @include globals.floater;

    padding: 11px 20px;

    font-size: 17px;
    font-weight: 500;
    font-family: var(--font-title);
    line-height: 20px;
    color: var(--bg-primary);
    align-items: center;
    justify-content: center;

    background: var(--gelb);

    &:hover {
        transform: scale(1.08);
        box-shadow: 0 0 14px 3px #12bcff;
        outline-color: white;
        outline-offset: 0px;
        outline-width: 2px;
        outline-style: solid;
        animation: pulseShadow 1.5s ease-in-out infinite;
    }

    transition: transform 0.1s linear;

    @keyframes pulseShadow {
        0%, 100% {
            box-shadow: 0 0 10px 3px #12bcff;
        }
        50% {
            box-shadow: 0 0 24px 4px #12bcff;
        }
    }
}