@use '../app/globals.scss' as globals;

@mixin clickable {
    // Standard-Skalierung für kleine Elemente, kann von großen Elementen überschrieben werden

    user-select: none;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 14px 3px #12bcff;
        outline-color: white;
        outline-offset: 0px;
        outline-width: 3px;
        outline-style: solid;
        animation: pulse 1.5s ease-in-out infinite;
    }

    transition: transform 0.1s linear;

    @keyframes pulse {

        0%, 100% {
            box-shadow: 0 0 10px 3px #12bcff;
        }

        50% {
            box-shadow: 0 0 24px 4px #12bcff;
        }
    }
}

.clickable { @include clickable; }


.button {
    @include clickable;

    display: flex;
    width: 100%;
    padding: 11px 20px;

    font-size: 17px;
    font-weight: 500;
    font-family: var(--font-title);
    line-height: 20px;
    color: var(--bg-primary);
    align-items: center;
    justify-content: center;

    background: var(--gelb);
    border-radius: var(--radius-light);
}

.panorama-button {
    @include clickable;
    
    display: flex;
    width: 100%;
    
    flex-direction: column;
    
    padding: 0 0;
    
    background: var(--bg-primary);
    border-radius: var(--radius-heavy);
    
    position: relative;
    /* Verhindert, dass Kinder aus dem Button rausgucken */
    overflow: hidden; 

    .panorama-image {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        width: 100%;
        height: 100%;
        
        > * {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .panorama-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        
        background: rgb(from var(--bg-primary) r g b / 0.7);
        backdrop-filter: blur(16px);
        
        padding: 15px 20px 15px 22px;
        font-family: var(--font-headings);
        font-size: 25px;
        font-weight: 600;
        
        /* Abgerundete Ecken unten passend zum Button */
        border-radius: 0 0 var(--radius-heavy) var(--radius-heavy);
    }
}