.layout-container {
    display: flex;
    width: 100%;
    /* Wir ziehen uns die globale Variable gap-strong (Fallback 20px) */
    gap: var(--gap-strong, 20px);
}

.layout-column {
    flex-direction: column;

    & > * {
        height: auto;
        width: 100%;
    }
}

.layout-row {
    flex-direction: row;

    & > * {
        height: 100%;
        width: auto;
    }
}

.layout-item {
    display: flex;
    flex-direction: column;
    
    /* Wichtig für Flex-Kinder, damit sie bei langem Inhalt nicht ausbrechen */
    min-width: 0; 
    min-height: 0;
}
