@use "@/components/Buttons.scss" as Buttons;



.map-marker {
    @include Buttons.clickable;
    
    background-color: rgb(from var(--rot) r g b / 0.6);
    color: var(--weiss);
    border-radius:  var(--radius-light) ;
    cursor: pointer;
    font-weight: bold ;
    aspect-ratio:  1/1 ;
    display: flex ;
    justify-content:  center ;
    align-items: center ;
    padding: 4px;

    --icon-size: 20px;
}

.pulse-marker {
    position: relative;
    /* Zentrierung für das Icon */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: 58%;
        width: 14px;
        /* Startgröße des Pulses (etwas kleiner als das Icon) */
        height: 14px;
        background-color: var(--orange);
        /* Orange Pulsierung */
        border-radius: 50%;
        z-index: -1;
        animation: pulse-ring 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    @keyframes pulse-ring {
        0% {
            transform: translate(-50%, -50%) scale(0.9);
            opacity: 0.8;
        }

        100% {
            transform: translate(-50%, -50%) scale(4.0);
            opacity: 0;
        }
    }
}


/* --- MapLibre Popup Dark Theme Overrides --- */
.map-marker-popup {
    .maplibregl-popup-content {
        background-color: var(--bg-primary);
        color: var(--weiss);
        border-radius: var(--radius-light);
        outline: 2px solid var(--fuchsia);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
        padding: 10px 15px;
        z-index: 10;

        .popup-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .popup-title {
                margin: 0;
                font-size: 18px;
                font-family: var(--font-headings);
                color: var(--weiss);
                text-transform: uppercase;
            }
    
            .popup-text {
                margin: 0;
                font-size: 13px;
                opacity: 0.9;
            }
        }
    }
}

/* Den kleinen Pfeil (Tip) einfärben */
.map-marker-popup.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    border-top-color: var(--fuchsia);
}

.map-marker-popup.maplibregl-popup-anchor-top .maplibregl-popup-tip {
    border-bottom-color: var(--fuchsia);
}

.map-marker-popup.maplibregl-popup-anchor-left .maplibregl-popup-tip {
    border-right-color: var(--fuchsia);
}

.map-marker-popup.maplibregl-popup-anchor-right .maplibregl-popup-tip {
    border-left-color: var(--fuchsia);
}